<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

    <div class="container">
        <div class="weather_container">
            <div class="temp">
                <p>
                   <% if (locals.temp) { %>
                    <%=temp%>
                    <% } else { %>
                        <p> How is the weather today! </p>
                    <% } %>
                </p>
            </div>
            
            <div class="location">
                <p>
                    <% if (locals.city) { %>
                        <%= city %>
                        <% } else { %>
                            <p>What city you like to explore?</p>
                        <% } %>
                </p>
                <p id="date">
                    <% if (locals.date) { %>
                        <%= date %>
                        <% } else { %>
                            <p>Current time ...</p>
                        <% } %>
                </p>
            </div>


            <div class="condition">
                <div>
                    <img class="icon" src="">
                    
                </div>
    
                <p id="weather_type">
                    <% if (locals.condition) { %>
                        <%= condition %>
                        <% } else { %>
                            <p>Weather condition</p>
                        <% } %>
                    
                </p>
            </div>
        </div>

        <nav>
            <form action="/submit" method="POST">
                <input type="text" name="location" placeholder="Search Location" class="search_area" autofocus/>
                <button type="submit"> Search</button>
    
            </form>
    
        </nav>


    </div>

</body>
<script src="/index.js"></script>
<script> 
    document.querySelector('.icon').setAttribute('src', '<%=locals.icon%>')
</script>
</html>